[submodule "submodules/lvgl"]
	path = submodules/lvgl
	url = https://github.com/lvgl/lvgl.git
[submodule "submodules/portaudio"]
	path = submodules/portaudio
	url = https://github.com/PortAudio/portaudio.git
[submodule "submodules/CMSIS-DSP"]
	path = submodules/CMSIS-DSP
	url = git@github.com:ARM-software/CMSIS-DSP.git
